/* CSS Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    position: relative;
}

.left {
    background-color: #FCC60C;
    height: 100%;
    width: 60%;
    position: absolute;
    left: 0;
}

.right {
    background-color: #FBE8B5;
    height: 100%;
    width: 40%;
    position: absolute;
    right: 0;
}

.pikachu-img,
.wheel-img,
.logo-img,
.burger-menu {
    position: absolute;
    z-index: 10;
}

.pikachu-img {
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    height: 70%;
}

.wheel-img {
    bottom: 0;
    left: 10px;
}

.logo-img {
    left: 10px;
    top: 0;
}

.burger-menu {
    right: 10px;
}

.left-content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
}

.left-content h3 {
    letter-spacing: 6px;
    font-weight: 600;
}

.left-content h1 {
    font-size: 6rem;
    padding-block: 1rem;
}

.left-content h5 {
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.2rem;
}

.left-content h4 {
    font-weight: 600;
    padding-top:1rem;
}
